.Kanban-Column-Container {
  padding: 5px 10px;
}

.Kanban-Column-Label {
  font-weight: bold;
  margin: 0;
  padding-bottom: 5px;
  font-size: 18px;
  cursor: pointer;
  padding: 0;
  margin: 5px 0 6px;
  resize: none;
  overflow: hidden;
  background-color: transparent !important;
  border: 0 !important;
  outline: 0 !important;
  box-shadow: none !important;
}

.Kanban-Column-Label:focus {
  cursor: auto;
}

.Kanban-Column-Delete {
  cursor: pointer;
}

.Kanban-Column-Header {
  display: flex;
}

.Kanban-Column {
  background-color: #f2f2f2;
  width: 240px;
  overflow: auto;
  padding: 5px 10px;
  min-height: 400px;
}

.Kanban-Column-Content {
  height: 400px;
  overflow: auto;
}

.Kanban-Column.Locked {
  user-select: none;
  background-color: #5162ff;
}

.Kanban-Column.Locked .Kanban-Column-Label {
  color: white;
}

.Kanban-Loadmore {
  margin-top: 10px;
  text-align: center;
}
